<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I am a title</title>
  <style>
    .box {
      background-color: aqua;
      height: 200px;
      width: 200px;
    }

    .box2 {
      background-color: red;
      height: 200px;
      width: 200px;
    }

    .box3 {
      background-color: orange;
      height: 200px;
      width: 200px;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    {{ greeting }}
    <input v-model="greeting" type="text" name="" value="" />

    <hr>

    <button @click="isVisible = !isVisible">Toggle Box</button>
    <div class="box" v-if="isVisible"></div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let app = Vue.createApp({
      data: function() {
        return {
          greeting: 'Hello Vue 3!!',
          isVisible: false
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>
